* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #ff4d4d;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #ff4d4d;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8%;
    min-height: 85vh;
}

.hero-img {
    position: relative;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff2e2e 40%, transparent 60%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-content {
    max-width: 550px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-content h1 span {
    color: #ff4d4d;
}

.hero-content h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-content h2 span {
    color: #ff4d4d;
}

.hero-content p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 25px;
    color: #ccc
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items:  center;
    width: 40px;
    height: 40px;
    border: 1px solid #ff4d4d;
    border-radius: 50%;
    margin-right: 10px;
    color: #ff4d4d;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #ff4d4d;
    color: #000;
    box-shadow: 0 0 15px #ff4d4d;
}

@media (max-width: 1000px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        margin-bottom: 40px;
    }
}