* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #ff4d4d;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease;
    text-shadow: 0 0 10px #ff4d4d;;
}

.logo:hover {
    transform: scale(1.05);
    text-shadow: 0 0 20px #ff4d4d;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #ff4d4d;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 8%;
    min-height: 85vh;
}

.hero-img {
    position: relative;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff2e2e 40%, transparent 60%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-img img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-content {
    max-width: 550px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-content h1 span {
    color: #ff4d4d;
}

.hero-content h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-content h2 span {
    color: #ff4d4d;
}

.hero-content p {
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 25px;
    color: #ccc
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items:  center;
    width: 40px;
    height: 40px;
    border: 1px solid #ff4d4d;
    border-radius: 50%;
    margin-right: 10px;
    color: #ff4d4d;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #ff4d4d;
    color: #000;
    box-shadow: 0 0 15px #ff4d4d;
}

.contact {
    padding: 80px 8%;
    min-height: 90vh;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    min-width: 300px;
}

.contact-info h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact-info h1 span {
    color:#ff4d4d;
}

.contact-info p {
    color: #ccc;
    margin-bottom: 30px;
}

.info-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
}

.info-box i {
    color: #ff4d4d;
    margin-right: 15px;
    font-size: 18px;
}

.conact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    background: #111;
    border: 1px solid #333;
    color: #fff;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #ff4d4d;
    box-shadow: 0 0 10px #ff4d4d33;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background: #ff4d4d;
    color: #000;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 0 25px #ff4d4d;
}

.btn:hover {
    background: #fff;
    color: #000;
    box-shadow: 0 0 25px #ff4d4d;
    transform: scale(1.05);
}

@media (max-width: 1000px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        margin-bottom: 40px;
    }
}

.project {
    padding: 80px 8%;
    min-height: 90vh;
}

.project-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.project-info {
    flex: 1;
    min-width: 300px;
}

.project-info h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.project-info h1 span {
    color:#ff4d4d;
}